*,html{
	margin:0;
}
.top-wrap{
	background-color:#0099FF;
	color:#663300;
	width:100%;
	padding:10px;
	position:fixed;
	height:12vh;
}
.left-wrap{
	margin-top:15vh;
	margin-bottom:6vh;
	height:100vh;
	width:68.5%;
	float:left;
	background-color:black;
	padding:10px;
}
.right-wrap{
	margin-top:15vh;
	margin-bottom:6vh;
	height:100vh;
	width:28.5%;
	float:left;
	background-color:purple;
	padding:10px;
}
footer div{
	text-align:right;
	background-color:#0099FF;
	color:#663300;
	position:fixed;
	margin-top:94vh;
	height:6vh;
	width:100%;
}

ul{
	list-style-type:none;
}
nav ul li{
	border:	4px groove #663300;
	width:7%;
	display:inline;
	margin:5px;
	padding:5px;
	text-align:center;
}
nav ul{
	float:right;
	margin-right:5%;
	margin-top:-3%;
}
#header-label{
	width:50%;
	padding:5px;
}
a{
	text-decoration:none;
	color:white;
}
nav ul li a:hover{
	color:#0099FF;
}
nav ul li:hover{
	background-color:#663300;
}
nav ul li:visited{
	background-color:purple;
}
nav ul li:active{
	background-color:green;
}
